= semantic_form_for(@user) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :current_password, label: _('Current password')
    = f.input :password, label: _('New password')
    = f.input :password_confirmation, label: _('New password (confirmation)')
  = f.actions do
    = f.action :submit, as: :button, label: _('Save'), button_html: { class: 'btn btn-primary' }
    = f.action :cancel, as: :link, label: _('Cancel'), button_html: { class: 'btn btn-default' }
