= semantic_form_for [@project, @record] do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :project, collection: @projects
    = f.input :begun_at, label: _('Begin')
    = f.input :ended_at, label: _('End')
  = f.actions do
    = f.action :submit, as: :button, label: _('Save'), button_html: { class: 'btn btn-primary' }
    = f.action :cancel, as: :link, label: _('Cancel'), button_html: { class: 'btn btn-default' }
