.page-header
  %h1= _('Records')

= will_paginate @records

%table.table.table-striped
  %thead
    %tr
      %th= _('Project')
      %th= _('Begin')
      %th= _('Duration')
      %th &nbsp;
  %tbody
    - @records.each do |record|
      %tr
        %td{style: "border-left:7px solid #{record.project.color};"}= record.project.name
        %td= time_start record.begun_at
        %td= time_diff(record.begun_at, record.ended_at)
        %td
          = link_to edit_project_record_path(record.project, record) do
            = fa_icon 'edit'
          = fa_icon 'fw'
          = link_to project_record_path(record.project, record), method: :delete, data: { confirm: _('Are you sure?') } do
            = fa_icon 'times'

.alert.alert-information
  = _('You can manually add records at the projects page.')
