.page-header
  %h1= _('Record')

%p
  %strong= _('Project')
  = @record.project.name

%p
  %strong= _('Begun at:')
  = l @record.begun_at

%p
  %strong= _('Ended at:')
  = l @record.ended_at

%p
  = link_to _('Edit'), edit_project_record_path(@project, @record)
  |
  = link_to _('Back'), @project
