= semantic_form_for @project do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :parent, collection: @projects
    = f.input :name, label: 'Name'
    = f.input :color, label: 'Farbe'
    = f.input :active, label: 'Im Dashboard anzeigen'
  = f.actions do
    = f.action :submit, as: :button, label: 'Speichern', button_html: { class: 'btn btn-primary' }
    = f.action :cancel, as: :link, label: 'Abbrechen', button_html: { class: 'btn btn-default' }
