- if @open_record
  .alert.alert-info{role: 'alert'}
    = form_tag close_project_record_path(@open_record.project, @open_record), method: :post do
      = _('%{ago} ago you started working on %{project}.') % { ago: time_ago_in_words(@open_record.begun_at), project: @open_record.project.name }
      = button_tag _('I\'m done'), class: 'btn btn-primary'

.row
  - @projects.select{ |p| p.active }.each do |project|
    .col-md-2.col-sm3.col-xs-6
      = form_tag open_project_records_path(project), method: :post do
        = button_tag class: 'btn magic-button', style: "background-color:#{project.color};color:#{magic_font_color(project.color)}" do
          = project.name
      %br
  .col-md-2.col-sm3.col-xs-6
    = form_tag kick_start_projects_path(), method: :post, class: 'kick-start-form' do
      = text_field_tag 'project[name]', '', class: 'form-control'
      = select_tag 'project[parent_id]', options_from_collection_for_select(@projects, "id", "to_label"), include_blank: true, class: 'form-control'
      = submit_tag _('Kick-start'), class: 'btn btn-default'
    %br
