.page-header
  %h1= _('Projects')

%table.table.table-striped
  %thead
    %tr
      %th= _('Name')
      %th= _('On dashboard')
      %th &nbsp;
  %tbody
    - @projects.each do |project|
      %tr
        %td{style: "border-left:7px solid #{project.color};"}= link_to project.name, project
        %td= project.active ? _('Yes') : _('No')
        %td
          = link_to edit_project_path(project) do
            = fa_icon 'edit'

%p
  = link_to new_project_path do
    = fa_icon 'plus'
    = _('Add project')
