.page-header
  %h1= @project.name

%table.table.table-striped
  %thead
    %tr
      %th Beginn
      %th Ende
      %th &nbsp;
  %tbody
    - @project.records.sort.each do |record|
      %tr
        %td= time_start record.begun_at
        %td= time_end record.ended_at
        %td= time_diff(record.begun_at, record.ended_at)
        %td
          = link_to edit_project_record_path(@project, record) do
            = fa_icon 'edit'
          = fa_icon 'fw'
          = link_to project_record_path(@project, record), method: :delete, data: { confirm: 'Wirklich löschen' } do
            = fa_icon 'times'

%p= link_to 'Record hinzufügen', new_project_record_path(@project)
